#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="default_configs/esp32s2/joylink_demo.csv"
CONFIG_PARTITION_TABLE_FILENAME="default_configs/esp32s2/joylink_demo.csv"

#
# Wi-Fi
#
CONFIG_ESP32_WIFI_SW_COEXIST_ENABLE=y

#
# Light GPIO
#
CONFIG_JOYLINK_LIGHT_R=15
CONFIG_JOYLINK_LIGHT_G=16
CONFIG_JOYLINK_LIGHT_B=17

#
# ESP-TLS
#
CONFIG_ESP_TLS_INSECURE=y
CONFIG_ESP_TLS_SKIP_SERVER_CERT_VERIFY=y