#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_2MB=y

#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="default_configs/esp8266/joylink_demo.csv"
CONFIG_PARTITION_TABLE_FILENAME="default_configs/esp8266/joylink_demo.csv"


CONFIG_ENABLE_PTHREAD=y

CONFIG_MBEDTLS_SSL_IN_CONTENT_LEN=4096
CONFIG_MBEDTLS_KEY_EXCHANGE_DHE_RSA=n
CONFIG_MBEDTLS_KEY_EXCHANGE_ELLIPTIC_CURVE=n
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDHE_RSA=n
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDHE_ECDSA=n
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDH_ECDSA=n
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDH_RSA=n

CONFIG_NEWLIB_NANO_FORMAT=n

#
# Light GPIO
#
CONFIG_JOYLINK_LIGHT_R=4
CONFIG_JOYLINK_LIGHT_G=5
CONFIG_JOYLINK_LIGHT_B=15